# .gitignore template for skeleton-based apps built with qxcompiler
/*-output/
/db.json
/resource-db.json
/qooxdoo/
/contrib/
node_modules/

/source/resource/proxmox.ve.mobile/css/*.css
/source/resource/proxmox.ve.mobile/css/*.css.map